html, body, #mapViewer{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;

    /* 禁止文字被鼠标选中 */
    /* moz-user-select: -moz-none;
    -moz-user-select: none;
    -o-user-select:none;
    -khtml-user-select:none;
    -webkit-user-select:none;
    -ms-user-select:none;
    user-select:none; */
}

#table{
    position: absolute;
    bottom: 0px;
    right: 0px;
    color: #FFFF;
    background-color: #0a1f2cc9;
    text-align: center;
   border:1px solid rgb(7, 209, 245)
}

  #buttonGroup {
      position: absolute;
      top: 0px;
      left: 0px;
      background: #0a1f2cc9;
      border: 1px solid rgb(7, 209, 245);
      padding: 10px;
  }
  #buttonGroup>button {
      background: #00ffff8f;
      border: 1px solid rgb(0 217 255);
      padding: 5px;
      border-radius: 5px;
  }
